@import url(https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css);
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
  --LightSlateBlue: hsl(252, 100%, 67%);
  --LightRoyalBlue: hsl(241, 81%, 54%);
  --VioletBlue: hsla(256, 72%, 46%, 1);
  --PersianBlue: hsla(241, 72%, 46%, 0);
  --LightLavender: hsl(241, 100%, 89%);
  --PaleBlue: hsl(221, 100%, 96%);
  --DarkGrayBlue: hsl(224, 30%, 27%);
  --LightRed: hsl(0, 100%, 67%);
  --OrangeyYellow: hsl(39, 100%, 56%);
  --GreenTeal: hsl(166, 100%, 37%);
  --CobaltBlue: hsl(234, 85%, 45%);
}

* {
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 60rem;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  section {
    &:nth-child(1) {
      color: white;
      width: 100%;
      text-align: center;
      padding: 20px;
      border-radius: 0 0 3rem 3rem;
      background-image: linear-gradient(
        var(--LightSlateBlue),
        var(--LightRoyalBlue)
      );
      h1 {
        color: var(--LightLavender);
        font-weight: 700;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin: 3rem auto;
        width: 45%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-image: linear-gradient(
          var(--VioletBlue),
          var(--PersianBlue)
        );
        h3 {
          font-size: 15vw;
          font-weight: 800;
        }
        h4 {
          font-size: 3vw;
          color: var(--LightLavender);
        }
      }
      h2 {
        font-size: 2.3rem;
      }
      p {
        color: var(--LightLavender);
        width: 70%;
        margin: 2rem auto;
        line-height: 2.1rem;
        font-size: 1.4rem;
      }
    }

    &:nth-child(2) {
      padding: 3rem;

      h1 {
        color: black;
        font-weight: 700;
      }

      ul {
        margin: 3rem 0;
        display: grid;
        gap: 1.8rem;

        li {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          padding: 2rem;
          border-radius: 1rem;
          p {
            font-weight: 700;
            &:first-of-type {
              margin-right: auto;
            }
            &:last-child {
              color: hsl(224, 30%, 27%, 0.5);
              strong {
                color: black;
              }
            }
          }
          &:nth-child(1) {
            background-color: hsl(0, 100%, 67%, 0.1);
            color: var(--LightRed);
          }
          &:nth-child(2) {
            background-color: hsl(39, 100%, 56%, 0.1);
            color: var(--OrangeyYellow);
          }
          &:nth-child(3) {
            background-color: hsl(166, 100%, 37%, 0.1);
            color: var(--GreenTeal);
          }
          &:nth-child(4) {
            background-color: color-mix(
              in hsl,
              var(--LightRoyalBlue) 5%,
              transparent
            );
            /* background-color: hsl(241, 81%, 54%, 0.1); */
            color: var(--LightRoyalBlue);
          }
        }
      }

      a {
        text-decoration: none;
        border-radius: 3rem;
        background-color: var(--DarkGrayBlue);
        color: aliceblue;
        width: 100%;
        padding: 2rem;
        font-weight: 700;
        display: block;
        text-align: center;
        margin: 1rem auto;
        &:hover {
          background-image: linear-gradient(
            var(--VioletBlue),
            var(--CobaltBlue)
          );
        }
      }
    }
  }
}
